.register{
	width:100%;
	height:100%;
	background-image:url('../../images/BGK_reg@3x.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.register .form{
	width:70%;
	padding-top:30px;
	margin:0 auto;
}
.register .input-box{
	height:32px;
	margin-top: 15px;
	border-bottom:1px solid #999999;
}
.register .input-box>span{
	height:32px;
	display:inline-block;
}
.register .input-icon{
	width:32px;
	position:relative;
}
.register .input-icon>img{
	width:60%;
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	margin:auto 0;
}
.register .input{	
	width:calc(100% - 32px);
	height:100%;	
}
.register .input>input{
	width:100%;
	height:100%;
	padding:0 !important;
	line-height: 32px;
	border:none;
	outline: none;
	background:transparent;
}

.register .third-party-login{
	width:60%;
	margin:0 auto;
}
.register .third-party-login>h5{
	position:relative;
	height:19px;
}
.register .logon-line{
	display:inline-block;
	width:calc(50% - 49px);
	height:2px;
}
.register .logon-line-left{
	background-image: linear-gradient(90deg,#a7b798,#5a9a23);	
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	margin:auto 0;
}
.register .logon-line-right{
	background-image: linear-gradient(270deg,#a7b798,#5a9a23);
	position:absolute;
	right:0;
	top:0;
	bottom:0;
	margin:auto 0;
}
.register .third-party-login span{
	display: block;
}
.register .third-logo{
	width:60%;
	margin:0 auto;
	min-width: 24px;
	max-width: 80px;
}
.register .input-box-min{
	width:62%;
	margin-top:0;
	display:inline-block;
}
.register .identifying-code{
	display:inline-block;
	width:78px;
}
.register .send-phone-code{
	display:inline-block;
	width:78px;
	height:32px;
	line-height:32px;
	margin-left:5px;
	border-radius: 6px;
}
.register .identify{
	margin-top:15px;
}
.register .accept-agreement{
	margin:15px 0 30px;
	padding-left:30px;
}
.register .accept-agreement>input{
	margin:3px;
}
.register .register-button{
	width:60%;
	height:36px;
	margin:0 auto 30px;
	line-height:36px;
	border-radius:18px;
	background:#489505;
}