<div class="register">
	<ion-header-bar class="bar-balanced" align-title="center">
		<div class="button button-clear" ng-click="goState('login')">
			<i class="icon ion-ios-arrow-left icon-light"></i>
		</div>
		<h1 class="title">登录</h1>
	</ion-header-bar>
	<ion-content>

		<div class="form">
			<div class="input-box clearfix">
				<span class="input-icon fl"><img src="./images/icons/mo@3x.png"></span>
				<span class="input fl"><input type="text" placeholder="+86请输入手机号"></span>
			</div>

			<div class="input-box clearfix">
				<span class="input-icon fl"><img src="./images/icons/pa_zc@3x.png"></span>
				<span class="input fl"><input type="password" placeholder="设置登陆密码，不少于6位"></span>
			</div>

			<div class="input-box clearfix">
				<span class="input-icon fl"><img src="./images/icons/pa_zc@3x.png"></span>
				<span class="input fl"><input type="password" placeholder="再次确认密码"></span>
			</div>

			<div class="clearfix identify">
				<div class="input-box clearfix input-box-min">
					<span class="input-icon fl"><img src="./images/icons/picture_zc3x.png"></span>
					<span class="input fl"><input type="text" placeholder="输入图片验证码"></span>
				</div>
				<span class="identifying-code"><img src="./images/7v@3x.png"></span>
			</div>

			<div class="clearfix identify">
				<div class="input-box clearfix input-box-min fl">
					<span class="input-icon fl"><img src="./images/icons/val_zc@3x.png"></span>
					<span class="input fl"><input type="text" placeholder="输入手机验证码"></span>
				</div>
				<span class="send-phone-code balanced-bg light fl align-center">
					发送验证码
				</span>
			</div>

			<div class="accept-agreement clearfix">
				<input class="fl" type="checkbox" name="">
				<span class="fl">同意<span class="balanced">《果乐产品》</span>服务协议</span>
			</div>

			<div class="register-button light align-center">立即注册</div>
			
		</div>

		<div class="third-party-login">
			<h5 class="clearfix">
				<i class="logon-line logon-line-left"></i>
				<span class="color-green align-center">通过第三方登录</span>
				<i class="logon-line logon-line-right"></i>
			</h5>
			<div class="row">
				<div class="col col-33"><img class="third-logo" src="./images/icons/QQ_go@3x.png"></div>
				<div class="col col-33"><img class="third-logo" src="./images/icons/bo_go@3x.png"></div>
				<div class="col col-33"><img class="third-logo" src="./images/icons/mir@3x.png"></div>
			</div>
		</div>
	</ion-content>
</div>