.productdetail{

}
.productdetail .color-gray{
	color:#666666;
}
.productdetail .redpacket{
	width:24px;
	display:block;
	margin:0 auto;
}
.productdetail .border-top{
	border-top:1px solid #999999;
}
.productdetail .border-bottom{
	border-bottom:1px solid #999999;
}
.productdetail .padding-slide{
	width:100%;
	height:10px;
	background:#eaeaea;
}
.productdetail .coupons{
	margin-bottom:0;
}
.productdetail .coupons-founds{
	border-radius:4px;
	font-size:14px;
}
.productdetail .select-number{
	width:74px;
	height:24px;
	display:inline-block;
	border:1px solid #999999;
}
.productdetail .select-number>span{
	display:inline-block;
	width:24px;
	height:24px;
	line-height: 24px;
}
.productdetail .inputbox{
	border-left:1px solid #999999;
	border-right:1px solid #999999;
}
.productdetail .inputbox>input{
	padding:0 !important;
	width:100%;
	height:100%;
	line-height: 24px;
	text-align: center;
}
.productdetail .select-color>select{
	width:100%;
	height:100%;
	border:none;
}
.productdetail .takeingoods{
	margin-bottom:48px;
}
