<div class="productdetail">
	<ion-slide-box show-pager="false">
		<ion-slide>
			<img src="./images/banner_s@3x.png" alt="">
		</ion-slide>
	</ion-slide-box>
	<div class="goods-infor row row-wrap border-top border-bottom white-bg">
		<div class="col col-80 padding-none">
			<h5>brand多口无线冲多口无线二合一8口USB</h5>
			<p class="color-gray">商品编号：<span>4854658</span></p>
		</div>
		<div class="col col-20 padding-none">
			<img class="redpacket" src="./images/icons/redpacket.png" alt="">
			<p class="text-center color-gray">分享有礼</p>
		</div>
		<div class="col"><span class="assertive">￥200.00</span><span class="fr color-gray">全场满80包邮</span></div>
	</div>
	<div class="padding-slide"></div>

	<div class="coupons list white-bg">
		<a class="item item-icon-right padding border-top border-bottom">
		    <span class="color-gray">领券</span>
		    <span class="coupons-founds light balanced-bg">满200减30</span>
		    <i class="icon ion-ios-arrow-right"></i>
		</a>
	</div>
	<div class="padding-slide"></div>
	
	<div class="select-type padding border-top border-bottom white-bg">
		<div class="clearfix padding-bottom">
			<span class="color-gray">购买数量</span>
			<span class="fr select-number clearfix">
				<span class="fl decrease text-center" ng-click="decreaseNumb()">-</span>
				<span class="fl inputbox"><input type="text" ng-model="productNumb"></span>
				<span class="fl increase text-center" ng-click="increaseNumb()">+</span>
			</span>
		</div>
		<div class="clearfix">
			<span class="color-gray">颜色</span>
			<span class="fr select-color select-number">
			    <select>
			      <option>蓝色</option>
			      <option selected>黑色</option>
			      <option>红色</option>
			    </select>
			</span>
		</div>
	</div>
	<div class="padding-slide"></div>

	<div class="takeingoods padding border-top border-bottom white-bg">
		<span class="color-gray">收货地址</span>
		<span class="fr">广东省广州市车陂恢宏大厦4楼</span>
	</div>
</div>