
<div class="footer">
	<div ui-view></div>
	<ion-tabs class="tabs-icon-top">
		<ion-tab href="#/home" title="首页" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" class="balanced">
		</ion-tab>
		<ion-tab href="#/classifyhot" title="分类" icon-on="ion-ios-keypad" icon-off="ion-ios-keypad-outline" class="balanced">
		</ion-tab>
		<ion-tab href="#/selectedtype" title="精选" icon-on="ion-ios-pricetag" icon-off="ion-ios-pricetag-outline" class="balanced">
		</ion-tab>
		<ion-tab href="#/car" title="购物车" icon-on="ion-ios-cart" icon-off="ion-ios-cart-outline" class="balanced">
		</ion-tab>
		<ion-tab href="#/mine" title="我的" icon-on="ion-ios-person" icon-off="ion-ios-person-outline" class="balanced">
		</ion-tab>
	</ion-tabs>
</div>