<div class="selected">
	<ion-header-bar class="bar-balanced item-input-inset">
		<div class="item-input-wrapper light-bg">
			<input type="text" name="" placeholder="太阳能能量冲" />
			<div class="button button-clear">
				<i class="icon ion-android-search placeholder-icon"></i>
			</div>
		</div>
	</ion-header-bar>
	<ion-content>
		<ul class="product-nav clearfix">
			<li class="fl power-type navActive">电源类型</li>
			<li class="fl product-information">产品信息</li>
		</ul>
		<div ui-view></div>
	</ion-content>
</div>